.section {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    
}

.section .imgBx {
    position: relative;
    width: 50%;
    height: 100%;
}

.section .imgBx img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.section .contentBx {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.section .contentBx .formBx {
    width: 50%;
}

.section .contentBx .formBx h1 {
    color: #2E4053 ;
    font-weight: 750;
    font-size: 2em;
    margin-bottom: 20px;
    display: inline-block;
}

.section .contentBx .formBx .inputBx {
    margin-bottom: 20px;
}

.section .contentBx .formBx .inputBx label {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #2E4053;
    font-weight: 300;
    font-size: 16px;
}

.section .contentBx .formBx .inputBx input {
    width: 100%;
    padding: 10px 20px;
    font-weight: 400;
    border: 1px solid #176BC4;
    font-size: 16px;
    outline: none;
}

.section .contentBx .formBx .inputBx button[type='submit'] {
    background: #449CF8;
    color: #fff;
    outline: none;
    border: 10px 20px;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    padding: 10px 20px;
    font-weight: 400;
    font-size: 16px;
    outline: none;
    
}

.section .contentBx .formBx .inputBx button[type='submit']:hover {
    background: #176BC4;
}

.section .contentBx .formBx .inputBx p {
    color: #000;
}

.section .contentBx .formBx .inputBx p a {
    color: #449CF8;
}

@media (max-width:768px){
    .section .imgBx {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .section .contentBx {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }
    .section .contentBx .formBx {
        width: 100%;
        padding: 40px;
        background: rgb(255 255 255 / 80%);
        margin: 30px;
    }
}